.botw-dialog, .botw-dialog * {
    margin: 0;
    padding: 0;
}

.botw-dialog {
    width: 600px;
    height: 240px;
    border: none;
    padding: 1em;
    display: flex;
    flex-direction: row;
    background: radial-gradient(ellipse farthest-corner at 50% 100%, rgba(0,0,0,.4) 80%, rgba(0,0,0,.5) 100%);
    /*background: radial-gradient(circle, rgba(0,0,0,.3) 80%, rgba(0,0,0,.405) 100%);*/
    color: #fffff4;
    border-radius: 10px;
    position: fixed;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 40vh;
    opacity: 0.2;
    transition: all .5s;
}

.left-wrapper {
    flex: 0 0 30%;
    display: flex;
}
.right-wrapper {
    font-style: italic;
    margin: 0 20px;
}

.botw-dialog img {
    margin: auto;
    max-width: 75%;
    max-height: 75%;
}

.botw-dialog .title {
    font-size: 28pt;
    line-height: 1.5;
    background: linear-gradient(to right, rgba(256,256,248,.05), rgba(256,256,248,.3) 10%, rgba(256,256,248,.3) 80%, rgba(256,256,248,.05) 90%, transparent) no-repeat bottom;
    background-size: 100% 1px;
    margin-bottom: .2em;
}